.navbar ul{
  display:flex;
  justify-content: space-around;
}

*{
  margin: 0px;
  list-style: none;
}

.navbar li{
  color: white;
  padding: 1em;

}

.navbar{
  background-color: rgb(219, 141, 68);
}

a{
  text-decoration: none;
}

.messagelist{
  margin-left: 2%;
}

.row{
  display:flex;
}

.message{
  width:80%;
}

.list{
  flex: 0 0 30%;
}


